name: Test template

#runs:
#  using: 'composite'

on:
  workflow_call:
    inputs:
      project:
        required: true
        type: string
jobs:
  easytest:
    runs-on: ubuntu-latest
    with:
      project: easytest
    steps:
      - run: |
          echo "Inputs $INPUTS"
        env:
          INPUTS: ${{ github.event.inputs.project }}
#      - name: git clone
#        uses: actions/checkout@v2
#      - name: npm install
#        working-directory: ./${{ github.event.inputs.project }}
#        run: npm i --force
#      - name: Run Tests
#        working-directory: ./${{ inputs.project }}
#        run: npm run test:ci